<% include ../partials/header %>

<div class="row">
    <div class="col-md-3">
        <p class="lead">Must-See Japan</p>
        <!--<div class="list-group">
            <li class="list-group-item active">Info 1</li>
            <li class="list-group-item">Info 2</li>
            <li class="list-group-item">Info 3</li>
        </div>-->

        <div id="map"></div>
        <span> 
            <strong> Sight seen in: </strong> <%= sight.location %>
        </span>
    </div>
    <div class="col-md-9">
        <div class="thumbnail">
            <img class="img-responsive" src="<%= sight.image %>">
            <div class="caption-full">
                <p class="pull-right"> 
                    <em>
                        Submitted by <strong><%= sight.author.username %></strong> (<%= moment(sight.createdAt).fromNow() %>)
                    </em>
                </p>
                <h4><a><%=sight.name%></a></h4>
                <p><%= sight.description %></p>

                <% if(currentUser && sight.author.id.equals(currentUser._id)){ %>
                    <a class="btn btn-warning" href="/sights/<%= sight._id%>/edit">
                        Edit Sight
                    </a>
                    <form class="delete-form" action="/sights/<%=sight._id %>?_method=DELETE" method="POST">
                        <input type="submit" class="btn btn-danger" value="Delete">
                    </form>
                <% } %>
            </div>
        </div>
        <div class="well">
            <div class="text-right">
                <a class="btn btn-success" href="/sights/<%= sight._id %>/comments/new">Add New Comment</a>
            </div>
            <hr>
            <% sight.comments.forEach((comment) => { %>
                <div class="row">
                    <div class="col-md-12">
                        <strong><%= comment.author.username %></strong>
                            <span class="pull-right">
                                <%= moment(comment.createdAt).fromNow() %>
                            </span>
                        <p>
                            <%= comment.text %>
                        </p>
                        <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                            <a
                                class="btn btn-xs btn-warning"
                                href="/sights/<%= sight._id %>/comments/<%= comment._id%>/edit"
                            >
                                Edit
                            </a>

                            <!--The delete route must be a form, because unlike the anchor tag above, forms can make POST requests (a tags only make GET reqs)-->
                            <form class="delete-form" action="/sights/<%=sight._id %>/comments/<%=comment._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                            </form>
                        <% } %>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>

<script>
  function initMap() {
    var lat = <%= sight.lat %>;
    var lng = <%= sight.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= sight.name %><br />
      <%= sight.location %></strong>
      <p><%= sight.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzPXKSPX5HYbq5zYbFaVcCE9pBp3-46n4&callback=initMap"></script>

<% include ../partials/footer %>
